@font-face {
    font-family: "inter";
    src: url(material/Inter.ttf);
}

body {
    margin: 0;
    font-family: "inter";
    background-color: white;
}

#container {
    max-width: 1200px;
    margin: 0;
}

header {
    position: relative;
    margin: 0;
}

#top-container {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    height: 40px;
    padding: 10px 15px;
    background-color: white;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;

    display: flex;
    align-items: center;
    gap: 10px;
}

#top-menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#brand-top {
    height: 20px;
}

header a:hover {
    border-radius: 8px;
    background-color: #f4f4f4;
}

.nav-items {
    padding: 10px;
    text-decoration: none;
    color: #121212;
}

.top-item {
    display: inline;
    position: relative;
}

.sub-nav {
    position: absolute;
    margin: 5px 0;
    padding: 5px;
    width: 250px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0.5px 0.5px 0.2em rgba(0, 0, 0, 0.2);
    display: none;
}

nav#product:hover nav.sub-nav {
    display: block;
}

.sub-item1 {
    display: flex;
    padding: 5px 0;
}

a.sub-item1 {
    text-decoration: none;
    font-weight: 550;
    color: #121212;
}

.picbox {
    height: 20px;
    width: 20px;
    margin: 2px;
    padding: 5px;
    box-shadow: 0.5px 0.5px 0.1em rgba(0, 0, 0, 0.2);
}

div.picbox img {
    margin: auto;
    width: 20px;
}

.alt p {
    font-size: 12px;
    font-weight: 450;
    margin: 2px 0;
    color: #999999;
}

.alt {
    margin: 0 10px;
}

#last-top-nav {
    border-left: 1px solid #e5e5e5;
}

#hamburgers img {
    height: 20px;
}

div#hamburgers {
    padding: 5px;
    border-radius: 8px;
    display: none;
}

#hamburgers:hover {
    background-color: #f4f4f4;
}

.button {
    text-decoration: none;
    background-color: #121212;
    color: #f4f4f4;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 550;
    box-shadow: 0.5px 0.7px 0.5em rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #666666;
}

main {
    max-width: 1000px;
    margin: auto;
}

main p {
    color: #999999;
    line-height: 1.5;
}

div#intro {
    padding: 110px 0 70px;
    display: flex;
    gap: 50px;
    border-bottom: 1px solid #e5e5e5;
}

div#intro img {
    width: 450px;
    object-fit: contain;
    flex-shrink: 1;
}

.info {
    max-width: 450px;
    margin-top: 10px;
}

.info h1 {
    font-size: 45px;
    margin: 0;
}

.info p {
    font-size: 18px;
    margin: 7px 0 20px;
    line-height: 1.5;
}

#sponsors {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.sponsors {
    height: 23px;
    margin: 15px;
}

.reasons {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
}

.info2 {
    margin-bottom: 40px;
    max-width: 450px;
}

.info2 h1 {
    font-size: 36px;
    font-weight: 650;
    margin: 0;
}

.info2 p {
    font-size: 15px;
    margin: 7px 0 20px;
    line-height: 1.5;
}

.reasons img {
    margin: 0 auto;
    width: 90%;
    object-fit: contain;
    box-shadow: 0.5px 0.7px 0.5em #e5e5e5;
    border-radius: 8px;
    overflow: hidden;

}

.quote h2 {
    margin: 20px 10px;
    color: #999999;
    text-align: center;
    font-size: 36px;
    font-weight: 550;
}

.who {
    display: flex;
    gap: 10px;
    justify-content: center;


}

.who img {
    margin: 0;
    width: 50px;
    box-shadow: 0 0 0 0;
    object-fit: contain;
}

.who h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 450;
}

.pres p {
    margin: 0;
    font-size: 12px;
    font-weight: 320;


}

#start {
    margin: 80px auto;
    padding: 80px 0 60px;
    border: 1px solid #e5e5e5;
    border-width: 1px 0 1px 0;
}

.centered {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.centered h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 650;

}

.centered p {
    margin: 5px 0 25px;
    font-size: 15px;
    color: #7f7f7f;


}


#list {
    font-size: 13px;
    width: 550px;
    margin: 50px auto;
    background-color: #f4f4f4;
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#list p {
    font-size: 15px;
}

.end {
    color: #121212;
}

.items {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

#no-border {
    border: 0px;
}



#list img {
    height: 17px;
}

#columns {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.column {
    justify-self: center;
    width: 280px;
    font-size: 15px;
    text-align: center;

}

.column h2 {
    margin: 0;
    font-size: 24px;
}

.column a {
    color: #121212;
}

.column a:hover {
    color: #087fe7;
}

#middle {
    border: solid #e5e5e5;
    border-width: 0 1px;
    padding: 0 15px;
}

#badges {
    margin: 80px auto;
}

#flex {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;

}

#important {
    width: 400px;
}

#important h3 {
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 24px;
}

#important p {
    color: #121212;
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
}

#important a {
    color: #121212;
}

#badges img {
    margin: 0;
    width: 400px;
    box-shadow: 0 0 0 0;
    object-fit: contain;
}

div#percentage {
    margin: 40px auto;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.value {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.value h1 {
    color: #666666;
    margin: 0;
    font-size: 53px;
}

div#last {
    border-width: 0;
}

footer {
    margin: 0 auto 80px;
    padding-top: 30px;
    max-width: 1200px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}

#left-foot {
    width: 220px;
}

#left-foot img {
    height: 30px;
    margin-bottom: 10px;
}

#left-foot p {
    font-size: 12px;
    color: #7f7f7f;
    margin: 20px 0;
}

#share img {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 30px;

}

#footer-nav {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot-nav {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 10px;
    color: #121212;
}

.foot-nav p {
    margin: 0;
    font-weight: 650;
}

.foot-nav a {
    text-decoration: none;
    color: #7f7f7f;
}

.foot-nav a:hover {
    text-decoration: underline;
}

@media (max-width: 920px) {
    #top-container {
        justify-content: space-between;
    }

    nav#top-menu {
        display: none;
    }

    div#hamburgers {
        display: block;
        width: 20px;
    }
}

@media (max-width: 900px) {
    div#intro {
        flex-direction: column-reverse;
        align-items: center;
        padding: 110px 0 70px;
        gap: 0;
        border-bottom: 1px solid #e5e5e5;
        flex-shrink: 1;
    }

    div.info {
        max-width: 750px;
        text-align: center;
    }

    div.info p {
        max-width: 650px;
    }

}

@media (max-width:600px) {

    #top-container {
        position: absolute;
        border-width: 0;
    }

    main {
        text-align: center;
    }

    div#intro {
        margin: 10px;
    }

    .reasons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reasons img {
        max-width: 500px;
    }

    .quote h2 {
        font-size: 26px;
        max-width: 500px;
    }

    #list {
        width: 80vw;
    }

    #columns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .column {
        width: 500px;
        font-size: 15px;

    }

    #middle {
        border-width: 0;
    }

    #flex {
        flex-direction: column;
        align-items: center;
    }

    div#percentage {
        width: 500px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }

    .value {
        border-width: 0;
    }

    footer {
        flex-direction: column;
        max-width: 500px;
    }

    #footer-nav {
        max-width: 500px;
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: space-around;
    }

    #share img {
        margin-bottom: 0;

    }

}