@font-face {
    font-family: "inter";
    src: url(material/Inter.ttf);
}

body {
    margin: 0;
    font-family: "inter";
    background-color: #f4f4f4;
}

#container {
    max-width: 1200px;
    margin: auto;
}

header {
    margin: 0 10px;
    height: 40px;
    padding: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

#brand-top {
    height: 20px;
}

.nav-items {
    padding: 10px;
    text-decoration: none;
    color: #121212;
}

.button {
    text-decoration: none;
    background-color: #121212;
    color: #f4f4f4;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
}

main {
    max-width: 1000px;
    margin: auto;
}

div#intro {
    padding: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    border-bottom: 1px solid #e5e5e5;
}

div#intro img {
    max-width: 400px;
}

.info {
    max-width: 400px;
    margin-top: 10px;
}

.info h1 {
    font-size: 42px;
    margin: 0;
}

.info p {
    font-size: 13px;
    margin: 7px 0 20px;
    color: #999999;
    line-height: 1.5;
}

#sponsors {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.sponsors {
    width: 100px;
    margin: 15px;
}

.reasons {
    margin: 70px 0;
}

.info2 {
    max-width: 400px;
    margin-bottom: 40px;
}

.info2 h1 {
    font-size: 32px;
    margin: 0;
}

.info2 p {
    font-size: 12.5px;
    margin: 7px 0 20px;
    color: #999999;
    line-height: 1.5;
}

.reasons img {
    width: 1000px;
    box-shadow: 0.5px 0.7px 0.5em #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
}

.quote h1 {
    color: #999999;
    text-align: center;
}

.who {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.who img {
    width: 50px;
    object-fit: contain;
}

.who h4 {
    margin: 0;
}

.who p {
    margin: 0;
    color: #999999;
    font-size: 12px;
}